@page "/"
@using BlackJack.Structs;

<PageTitle>Blackjack</PageTitle>

<h1>Blackjack</h1>

@*
    @foreach(var card in unicodeCards)
    {
        <span style='font-size:50px;'>@card</span>
    }
*@

@* Cards *@
@foreach(var card in deck)
{
    <span class="display-3">@card.Symbol</span>
}

@code
{
    string[] unicodeCards = { "🂡", "🂢", "🂣", "🂤", "🂥", "🂦", "🂧", "🂨", "🂩", "🂪", "🂫", "🂭", "🂮" };
    const int numberOfCards = 52;
    bool stay;
    Card[] deck = new Card[numberOfCards];
    Card[] playerCards = new Card[0];
    Card[] dealerCards = new Card[0];
    int playerScore = 0, dealerScore = 0;
    string winner = string.Empty;

    enum PlayerTypes
    {
        Dealer,
        Player
    }

    enum Results
    {
        Unknown,
        BlackJack,
        PlayerLost,
        DealerLost
    }
    Results result = Results.Unknown;

    protected override async Task OnInitializedAsync()
    {
        var cards = new Card[numberOfCards];
        var index = 0;
        for(int i = 0; i < 4; i++)
            for(int j = 0; j < unicodeCards.Length; j++)
            {
                var value = j > 9 ? 10 : j + 1;
                cards[index] = new Card(unicodeCards[j], value);
                index++;
            }

        deck = cards;
    }
}